{{>header}}
<main class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <img class="d-block w-100"
                src="https://alauddinali.com/wp-content/uploads/2020/07/podcast-banner-1060x561.jpg"
                alt="About">
        </div>
    </div>
</main>
{{>footer}}