{{>header}}
<main class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="container mt-4">
                <h4>Access to Global Weather Data, Developer-friendly</h4>
                <p>Get instant access to accurate weather data for any geo-point in the world and enjoy a rich set of capabilities:</p>
            	<div class="row">
                    <div class="col-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" title="historical">Historical Weather API</li>
                            <li class="list-group-item" title="realtime">Real-Time Weather API</li>
                            <li class="list-group-item" title="forecasts">Weather Forecasts API</li>
                            <li class="list-group-item" title="autocomplete">Location Autocomplete</li>
                            <li class="list-group-item" title="bulk">Bulk API Endpoint</li>
                        </ul>
                    </div>
                    <div class="col-8">
                        <img draggable="false" alt="World Weather Map" src="images/world_map_vector.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{>footer}}