    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <span class="text-muted">&copy; This site is developed by Vinod Mula.</span>
                </div>
            </div>
        </div>
    </footer>
    <script src="scripts/main.js"></script>
</body>
</html>
